
/*******
admin
*******/
.admin {
	width: 100%;
	margin: 0 auto;
}

.admin .admin_inner {
	display: flex;
	position: relative;
}
.admin .admin_inner h2 {
	margin: 0 0 15px 0;
	text-align: center;
	font-weight: normal;
}

.admin_left {
	width: 220px;
}

.admin_left .admin_left_drawer {
	position: fixed;
	background-color: #f8f9fa;
	height: 100%;
}
.admin_left .admin_left_drawer .admin_left_drawer_inner {

}
.admin_left .admin_left_drawer .admin_left_drawer_inner ul {
	list-style: none;
	padding:0;
	margin:0;
}
.admin_left .admin_left_drawer .admin_left_drawer_inner ul li {

}
.admin_left .admin_left_drawer .admin_left_drawer_inner ul li a {
	padding: 15px;
	display: block;
	color:#292f33;
}
.admin_left .admin_left_drawer .admin_left_drawer_inner ul li a:link {
	color:#292f33;
}
.admin_left .admin_left_drawer .admin_left_drawer_inner ul li a:visited {
	color:#292f33;
}
.admin_left .admin_left_drawer .admin_left_drawer_inner ul li a:hover {
	background-color: #f0f0f0;
}



/******

*******/
.admin_right {
width: 100%;
height: 100%;

}


















/**************
1028px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 1028px) {

}
/**************
640px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 640px) {
	.admin {
		width: 100%;
		margin: 0 auto;
	}
	
	.admin .admin_inner {
		margin: 0 5px 0 5px;	
	}
}
/**************
480px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 480px) {


}
/**************
320px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 320px) {

}
