

/*********
seo-tool
*********/
.seo_tool {
	width: 50%;
	margin: 0 auto;
}
.seo_tool .seo_tool_inner {
	margin: 30px 0 0 0;
}
.seo_tool .seo_tool_inner .seo_tool_inner_title_top {
	margin: 0px 0 15px 0;
}

.seo_tool .seo_tool_inner .section_block {

}







/**************
1028px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 1028px) {

}
/**************
640px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 640px) {



}
/**************
480px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 480px) {


}
/**************
320px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 320px) {

}
